
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <input type="number">mobile No
        <input type="text">Company name
        <input type="number">Addhar No/DL/PAN

        <input type="file" id="myFile" name="filename">

        <input type="password">Enter password
        <input type="password">Conform password

        <input type="submit">photo pls

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>

        auto current location