/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_btn{
    background: #1cbfd5;
    border: 1px solid #1cbfd5;
    color: #ffffff;
    width: 100px;
    height: 34px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.mt-55{margin-top: 55px;}
.dis-f-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.pad03rem{
    padding: 0px 3rem;
}
.d-f-align-center{
    display: flex;
    align-items: center;
}